{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'illust/css/style.css' %}">

</head>
<body>
    <div class="post_area">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="text">
                    <input type="text" name="title" placeholder="タイトル">
                </div>
                <textarea class="ui10-textarea_circle" cols="60" rows="10" name="description" placeholder="説明"></textarea>
                <div>
                    <input type="file" name="file">
                </div>
                <div><input type="submit" value="投稿"></div>
            </form>

        </div>

        {# 受け取ったdesingsをforループで1つずつ取り出し、表示させる。 #}
        {% for design in designs %}
        <div>
            <div>{{ design.id }}</div>
            <div>{{ design.title }}</div>
            <div>{{ design.date }}</div>
            <div>{{ design.description }}</div>
            <div><a href="/media/{{ design.file }}">ダウンロード</a></div>
            {% if design.thumbnail %}
            <div><a href="/media/{{ design.file }}"><img src="/media/{{ design.thumbnail }}" alt="サムネイル" style="max-width:100%;"></a></div>
            {% else %}
            <div><a href="/media/{{ design.file }}"><img src="{% static 'illust/image/no-image.png' %}" alt="サムネイルがありません" style="max-width:100%;"></a></div>
            {% endif %}
        </div>
        {% endfor %}

</body>
</html>
